<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/register.css" />
        <title>Epytodo - Register</title>
    </head>
    <body>
        <header class="header">
        </header>
            <div class="container">
            <section class ="sidebar">
                <nav class="menu">
                    <ul>
                        <li class="but"> <a href="/index">Home </a></li>
                        <li class="but"> <a href="/contact">Contact </a></li>
                        <li class="but"> <a href="/task">Task Manager </a></li>
                        <li class="but"> <a href="/signin">Signin </a></li>
                        <li class="but"> <a href="/register">Register </a></li>
                    </ul>
                </nav>
            </section>
            <section class="formulaire">
                <h1 class="titleregister"> Register </h1>
                <form action class="register" method="POST">
                    <input name="user" type="text" placeholder="Username" class="basic user"/>
                    <input name="password" type="password" placeholder="Password" class="pass mdp"/>
                    <input type="submit" />
                </form>
                <p class="error"> {{ error }} </p>
            </section>
            </div>
        <footer class="footer">
            copyright @ Elias Loïc Baptiste
        </footer>
    </body>
</html>