<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/index.css" />
        <title>Epytodo</title>
    </head>
    <body>
        <header class="header">
        </header>
        
        <div class="container">
            <section class ="sidebar">
                <nav class="menu">
                    <ul>
                        <li class="but"> <a href="/index">Home </a></li>
                        <li class="but"> <a href="/contact">Contact </a></li>
                        <li class="but"> <a href="/task">Task Manager </a></li>
                        <li class="but"> <a href="/signin">Signin </a></li>
                        <li class="but"> <a href="/register">Register </a></li>
                    </ul>
                </nav>
            </section>
            <section class="content">
                <h2> Qu'est-ce que Epytodo ? </h2>
                <p>
                    Epytodo est notre premier projet web dont le but est de pouvoir gérer son propre "agenda" en ligne.
                </p>
                <h2> Comment Utiliser Epytodo ? </h2>
                <p>
                    C'est très simple, il vous suffit de vous enregistrer sur le site, puis de vous connecter avec vos identifiants , vous aurez alors accès à votre espace "Task Manager"
                </p>
            </section>
        </div>
        
        <footer class="footer">
            copyright @ Elias Loïc Baptiste
        </footer>
    </body>
</html>